MONGODB_URI=
MONGODB_DB=
AUTH_RESEND_KEY=
AUTH_EMAIL_FROM=
AUTH_URL=
OPENAI_API_KEY=

# Cloudflare R2 (S3-compatible)
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=cross-lang-audio
 